<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059489949573-39kj3rln8bpdpckjfmbk2tq7h2b0ag3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059489949573-39kj3rln8bpdpckjfmbk2tq7h2b0ag3s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1059489949573-dr4vvm8jqbekii83hpaptp69gmm70lp8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAp_ZD8iQ41rdzPLxEjR726AsUPKiseMt4</string>
	<key>GCM_SENDER_ID</key>
	<string>1059489949573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.argz.cryptoapp</string>
	<key>PROJECT_ID</key>
	<string>issue-testing</string>
	<key>STORAGE_BUCKET</key>
	<string>issue-testing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059489949573:ios:e8a8feb1ec16c2ff4fc6ec</string>
	<key>DATABASE_URL</key>
	<string>https://issue-testing-default-rtdb.firebaseio.com</string>
</dict>
</plist>